# LetsWhim Environment Configuration
# Copy this file to .env and fill in your secrets

# APP SETTINGS
APP_NAME=MyLetsWhimProject
APP_ENV=development
APP_PORT=2001

# API KEYS (Optional)
DATABASE_URL=
SUPABASE_KEY=
ANALYTICS_ID=

# URL Website (Change this after deployment)
SITE_URL=http://localhost:2001